[Unit]
Description=manage-apps server
After=syslog.target network.target

[Service]
Type=simple
User=board
WorkingDirectory=/home/board/manage-apps/
ExecStart=/usr/bin/screen -D -m install/run

[Install]
WantedBy=multi-user.target
